<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.webflix.mapper.ReplyMapper">
	
	<insert id="insert">
		insert into tbl_reply (rno, bno, reply, replyer)
		values (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
  
  	<select id="read" resultType="com.project.webflix.domain.ReplyVO">
  		select * from tbl_reply where rno = #{rno}
  	</select>
  	
  	<select id="getListWithPaging" resultType="com.project.webflix.domain.ReplyVO">
  		<![CDATA[
  			select rno, bno, reply, replyer, replyDate, updatedate
			from
				(
					select /*+INDEX(tbl_reply idx_reply)*/
						rownum rn, bno, rno, reply, replyer, replyDate, updatedate
					from tbl_reply
					where bno = #{bno}
						and rno > 0
						and rownum <= #{cri.pageNum} * #{cri.amount}
				) where rn > (#{cri.pageNum}-1) * #{cri.amount}
  		]]>
  	</select>
  	<!-- e댓글 숫자 파악 -->
  	<select id="getCountByBno" resultType="int">
  		<![CDATA[
  			select count(rno) from tbl_reply where bno = #{bno}
  		]]>
  	</select>
  	  	
  	<update id="update">
  		update tbl_reply set reply = #{reply}, updatedate = sysdate where rno = #{rno}
  	</update>
  	
  	<delete id="delete">
  		delete from tbl_reply where rno = #{rno}
  	</delete>
  	
</mapper>

